CLICKHOUSE_HOST=wmsandbox1-clickhouse.watermelon.us
CLICKHOUSE_PORT=443
CLICKHOUSE_DATABASE=metrics
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=changeme
CLICKHOUSE_SECURE=true
CLICKHOUSE_VERIFY=false
